#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

PATH_add "$HOME/github/_templates/bash/utilities"

if [[ -z "$READTHEDOCS" ]]; then
    export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
else
    export UV_PROJECT_ENVIRONMENT="$READTHEDOCS_VIRTUALENV_PATH"
fi
if [[ -d "$UV_PROJECT_ENVIRONMENT" ]]; then
    # shellcheck disable=SC1091
    source "$UV_PROJECT_ENVIRONMENT/bin/activate"
fi
export PYTHONPATH="$PWD/.tasks:$PYTHONPATH"

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"
asdf env
asdf reshim

# latex
PATH_add "$TEXBASE/bin/x86_64-linux"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# -- Polyglot Environment Variables for .envrc
export POLYGLOT_ROOT="$PWD"
export POLYGLOT_SRC="$PWD"
export POLYGLOT_TEMP="$PWD/.temp"
export POLYGLOT_SPHINX_BUILDER="bibhtml"
export POLYGLOT_SPHINX_CONF_DIR="$PWD"
# --

export BIBLIO_TOTAL_BOOKMARKS="$PWD/bookmarks/total.bookmarks"
export BIBLIO_STUB_FILE="$PWD/in_progress/stubbed.bib"
export BIBLIO_TEMPLATE_DIR="$PWD/templates_"

export BIBLIO_LIB="/media/john/data/library/pdfs_structured"
export BIBLIO_TODO="/media/john/data/todo/pdfs"
export BIBLIO_FIREFOX_LOC="/home/john/snap/firefox/common/.mozilla/firefox"
export BIBLIO_DOWNLOAD_TO="/media/john/data/todo/pdfs/online"
export BIBLIO_BKUP="/media/john/solid_ext4/library"
export BIBLIO_DROPBOX="media/john/micro_128/Dropbox/docs"
