#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"

if [ -d "$UV_PROJECT_ENVIRONMENT" ]; then
    source "$UV_PROJECT_ENVIRONMENT/bin/activate"
fi

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"

# latex
PATH_add "$TEXBASE/bin/x86_64-linux"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# -- Polyglot Environment Variables for .envrc
export POLYGLOT_ROOT="$PWD"
export POLYGLOT_SRC="."
export POLYGLOT_TEMP=".temp"
export POLYGLOT_SPHINX_BUILDER="bibhtml"
export POLYGLOT_SPHINX_CONF_DIR="."
export POLYGLOT_USE_BIBTEX=1
# --
