[submodule "plus/conferences_primary/aisb_"]
	path = plus/conferences_primary/aisb_
	url = git@github.com:jgrey4296/aisb-bibtex.git
[submodule "wiki_"]
	path = wiki_
	url = git@github.com:jgrey4296/bibliography.wiki.git
[submodule "timelines_"]
	path = timelines_
	url = git@github.com:jgrey4296/timelines.git
