## bibtex.toml -*- mode: conf-toml -*-
[[locations]]
lib-root      = "/media/john/data/library/pdfs/"

[[tasks.format]]
name                 = "walker"
version              = "0.1"                                                                # <str>
ctor                 = "job"                                                                # <type>
doc                  = ["Load each bib file and format/validate it"]                               # <list[str]>
print_levels         = { head="INFO", build="WARNING", execute="INFO", sleep="WARNING", action="WARNING" }
roots                = ["{bib}"]                                                            # <list[str|pl.Path]>  Places the job:walker will start
exts                 = [".bib"]                                                             # <list[str]>
select_limit         = 10                                                                   # <int|None>
actions = [
        {do="job.walk",        update_="walked"},
        {do="job.expand",      from_="walked", update_="tasks", inject={replace=["fpath"]}, base="base::_formatter"},
        {do="job.limit",       from_="walked", count_="select_limit", method="taskcode.selector:oldest"},
        {do="job.inject.path", onto_="tasks",  key_="fpath"},
        {do="job.queue",       from_="tasks"},
]


[[tasks.format]]
name             = "_individual"
ctor             = "task"
print_levels     = { head="INFO", build="WARNING", execute="INFO", sleep="WARNING", action="WARNING" }
actions          = [
                { do="ext?", ext=".bib" },
                { do="dootle.bibtex.v2:BibtexInitAction",   update_="bib_db"},
                { do="taskcode.bibtex:build_working_parse_stack",  update_="parse_stack"},
                { do="taskcode.bibtex:build_working_write_stack",  update_="write_stack" },
                { do="dootle.bibtex.v2:BibtexLoadAction",   from_="fpath",     update_="bib_db",   parse_stack_="parse_stack" },
                { do="dootle.bibtex.v2:BibtexToStrAction",  from_="bib_db",    update_="bib_text", write_stack_="write_stack" },
                { do="write!", from_="bib_text", to="{fpath}"},
                { do="dootle.bibtex.v2:BibtexFailedBlocksWriteAction", target="{temp}/failed_{fstem}.bib" },
]                                                                                                                         # <str>
