/* custom.css -*- mode: CSS -*- */

.bibtex  {
    .entry& { background-color: #bab2b2; }
    .sig {
        display: block !important;
        border-top: none !important;
    }
    .example {
        display: inline;
        padding: 2px;
}
}

.bibtex {
    .book   { background: linear-gradient(90deg, #6495e1, #bab2b2) !important; }
    .inbook { background: linear-gradient(90deg, #6495ef, #bab2b2) !important; }
    .proceedings     { background: linear-gradient(90deg, #Ee7610, #bab2b2) !important; }
    .inproceedings   { background: linear-gradient(90deg, #Ee764f, #bab2b2) !important; }
    .article         { background: linear-gradient(90deg, #2e8b57, #bab2b2) !important; }
    .report          { background: linear-gradient(90deg, #D02070, #bab2b2) !important; }
    .techreport      { background: linear-gradient(90deg, #D02073, #bab2b2) !important; }
    .thesis          { background: linear-gradient(90deg, #D0207f, #bab2b2) !important; }
    .standard        { background: linear-gradient(90deg, #64a1c2, #bab2b2) !important; }
    .manual          { background: linear-gradient(90deg, #64a1cf, #bab2b2) !important; }
    .online          { background: linear-gradient(90deg, #Ffe4cf, #bab2b2) !important; }
    .blog            { background: linear-gradient(90deg, #Ffb5c5, #bab2b2) !important; }
    .thread          { background: linear-gradient(90deg, #bab7b2, #bab2b2) !important; }
    .video           { background: linear-gradient(90deg, #Cd5c5c, #bab2b2) !important; }
    .mimsc           { background: linear-gradient(90deg, #Ffe4c4, #bab2b2) !important; }
    .unpublished     { background: linear-gradient(90deg, #c87d40, #bab2b2) !important; }
    .booklet         { background: linear-gradient(90deg, #a2663c, #bab2b2) !important; }
    .musicScore      { background: linear-gradient(90deg, #f5a95b, #bab2b2) !important; }
    .review          { background: linear-gradient(90deg, #6b8b8c, #bab2b2) !important; }
    .case            { background: linear-gradient(90deg, #466480, #bab2b2) !important; }
    .judicial        { background: linear-gradient(90deg, #22625c, #bab2b2) !important; }
    .law             { background: linear-gradient(90deg, #Ffdab9, #bab2b2) !important; }
    .collectino      { background: linear-gradient(90deg, #c75533, #bab2b2) !important; }
    .dataset         { background: linear-gradient(90deg, #228b22, #bab2b2) !important; }
    .software        { background: linear-gradient(90deg, #aac39e, #bab2b2) !important; }
    .game            { background: linear-gradient(90deg, #ffffff, #bab2b2) !important; }
 }

