
aside.system-message {
    background-color : #Ffdab9

}

footer {
    padding-top: 20px;

}


#entries > ul {
    height: min(100%, 3lh);
    overflow: overflow;
    transition: height 2s;
    li {
        opacity: 50%;
        transition: opacity 2s;
       }
}

#entries:hover {
    ul {
        height: min(100%, 10lh);
        overflow:scroll;
    }
    ul > li {
        opacity: 100%;
    }
}

.rst-content code.author {
    border: none !important;
    color: #3091d1 !important;

}
